{{title "Personeelsaantallen VTE's " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}

<div class="container-flex--contain">
  <div class="u-border--light--bottom">
    <ul class="inline-list inline-list--bordered smaller u-background--gray-lightest u-padding--rl--small u-padding--tb--tiny">
      <li><a href="#">Personeelsaantallen Gemeente Gent{{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</a></li>
      <li>Voltijds Equivalenten</li>
    </ul>
  </div>
	<div class="u-border--light--bottom">
	  <div class="u-padding--round--small">
	    <div class="grid">
	      <div class="col--6-12 col--1-1--s">
			    <h1 class="h4 u-spacer--tiny">Gemeente Gent{{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}: Voltijds Equivalenten (VTE)</h1>
	        <p class="text-light">Detailoverzicht van de personeelscapaciteit.</p>
	      </div>
	      <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
	      	<div class="button-group">
		        <button class="button button--alt button--narrow ember-view">Verwerp wijzigingen</button>
		        <button class="button button--narrow ember-view">Bewaar</button>
		      </div>
		      <p class="text-fade smaller">Laatst bewaard op 24.08.2018</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container-flex--scroll u-padding--round--small">

	  <div class="u-spacer">
	  	<div class="grid">
	  		<div class="col--8-12">
	  			<div class="alert alert--small">
					  <div class="alert__message">
			  			<p>Iedere tewerkstelling moet uitgedrukt worden in een percentage van een voltijds tewerkgesteld personeelslid. Eén VTE (voltijds equivalent of tewerkgesteld volgens een regime van 38/38sten ) is een personeelscapaciteit die overeenkomt met een medewerker in een 100% werkregime. Bijvoorbeeld een personeelslid dat 4/5den werkt of 30,4 uur werkt in de 38-uren werkweek zal worden meegeteld als 0,8 VTE. </p>
					  </div>
					</div>
			  </div>
			</div>
		  <table class="data-table data-table--matrix data-table--lined data-table--zebra">
		    <thead>
		      <tr>
		        <th rowspan="3" style="max-width: 12rem;">Niveau</th>
		        <th colspan="4">Voltijds</th>
		        <th colspan="4">Deeltijds</th>
		        <th rowspan="2"></th>
		      </tr>
		      <tr>
		        <th colspan="2">Vastbenoemd</th>
		        <th colspan="2">Contractueel</th>
		        <th colspan="2">Vastbenoemd</th>
		        <th colspan="2">Contractueel</th>
		      </tr>
		      <tr>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th><i class="fa fa-male"></i></th>
		        <th><i class="fa fa-female"></i></th>
		        <th>Totaal<br>VTE's</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th style="max-width: 12rem;">Niveau A</th>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau B</th>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau C</th>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau D</th>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Niveau E</th>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td>
		      	  <input class="input-field input-field--block" type="number" value="0" name="quantity">
			      </td>
		        <td><strong>0</strong></td>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Subtotaal</th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-male"></i></span></th>
		        <th>0 <span class="text-fade"><i class="fa fa-xs fa-female"></i></span></th>
		        <th><strong>0</strong></th>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Subtotaal</th>
		        <th colspan="2">0 vastbenoemd</th>
		        <th colspan="2">0 contractueel</th>
		        <th colspan="2">0 vastbenoemd</th>
		        <th colspan="2">0 contractueel</th>
		        <th><strong>0</strong></th>
		      </tr>
		      <tr>
		        <th style="max-width: 12rem;">Totaal</th>
		        <th colspan="4"><strong>0 voltijds</strong></th>
		        <th colspan="4"><strong>0 deeltijds</strong></th>
		        <th><strong>0</strong></th>
		      </tr>
		    </tbody>
		  </table>

	  </div>
	</div>
</div>

{{outlet}}
