     {{#each stackObservations as |observationsSet|}}
        <tr>
          <th style="max-width: 12rem;">{{observationsSet.title}}</th>
          {{#each observationsSet as |obs|}}
            <td>
              {{input class="input-field input-field--block" type="number" value=(get obs currentKey)}}
            </td>
          {{/each}}
          <td><strong>{{observationsSet.sumOfLevel}}</strong></td>
        </tr>
     {{/each}}

      <tr>
        <th style="max-width: 12rem;">Subtotaal</th>
        <th><span class="text-fade">
          {{subtotalColumn0}} <i class="fa fa-xs fa-male"></i> Mannen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn1}} <i class="fa fa-xs fa-female"></i> Vrouwen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn2}} <i class="fa fa-xs fa-male"></i> Mannen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn3}} <i class="fa fa-xs fa-female"></i> Vrouwen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn4}}<i class="fa fa-xs fa-male"></i> Mannen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn5}} <i class="fa fa-xs fa-female"></i> Vrouwen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn6}} <i class="fa fa-xs fa-male"></i> Mannen</span></th>

        <th><span class="text-fade">
          {{subtotalColumn7}} <i class="fa fa-xs fa-female"></i> Vrouwen</span></th>

        <th><strong>
          {{total}}

        </strong></th>
      </tr>

      <tr>
        <th style="max-width: 12rem;">Subtotaal</th>
        <th colspan="2">{{subtotalColumn01}} vastbenoemd</th>
        <th colspan="2">{{subtotalColumn23}} contractueel</th>
        <th colspan="2">{{subtotalColumn45}} vastbenoemd</th>
        <th colspan="2">{{subtotalColumn67}} contractueel</th>
        <th><strong>{{total}}</strong></th>
      </tr>

      <tr>
        <th style="max-width: 12rem;">Totaal</th>
        <th colspan="4"><strong>{{totalVoltijds}} voltijds</strong></th>
        <th colspan="4"><strong>{{totalDeeltijds}} deeltijds</strong></th>
        <th><strong>{{total}}</strong></th>
      </tr>
